/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;


/*
Light Mode:

Text: #2E242A
Background: #F7F3E3
Border: #293D38


Dark Mode:

Text: #F7F3E3
Background: #2E242A
Border: #293D38

*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500&family=PT+Sans:wght@400;700&family=Teko:wght@400;500&display=swap');


body {
  margin: 0;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 24px;
}

.navbar, .left-sidebar, .right-sidebar, .headfoot {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: 2rem;
  z-index: 100;
}

body {
  color: #2E242A;
  background-color: #F7F3E3;
}

body.dark-mode {
  background-color: #2E242A;
  color: #F7F3E3;
}

html, body, #root {
  height: 100%;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.left-sidebar, .right-sidebar {
  width: 25px; 
  height: 100vh; 
  position: relative;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #2E242A;
  border: 2px solid #2E242A;
}

body.dark-mode .left-sidebar, 
body.dark-mode .right-sidebar {
  width: 25px; /* Make the sidebars skinnier */
  color: #F7F3E3;
  border: 1px solid #F7F3E3;
}

.left-sidebar {
  left: 0;
}

.right-sidebar {
  right: 0;
  width: 25px;
}

.main-content {
  /* margin-left: 25px; 
  margin-right: 25px; */
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.body-wrapper {
  flex-grow: 1;
}

.main-content-area {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0; /* Start below the header */
  bottom: 0; /* End above the footer */
  left: 0;
  right: 0;
  padding: 5px;
  overflow: hidden;
  z-index: 1;
}


/* Project content adjustments */
.project-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* Project info section */
.project-info {
  height: calc(100%-25px);
  overflow-y: auto;
}

/* Project images section */
.project-images {
  max-width: 34%;
  height: 100%;
  margin-left: 34vw;
  margin-top: -10px;
  overflow: hidden;
}

/* Additional info section */
.project-additional-info {
  width: 33.33%;
  display: flex;
  margin-left: 66vw;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  text-align: right;
  z-index: 10;
}



/* ImageSwiper2 adjustments */
.mySwiper2 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-bottom: 16px;
}

.swiper-slide-2 img {
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}











.headfoot {
  background-color: rgba(0, 0, 0, 0);
  color: #2E242A;
  border: 2px #2E242A;
  border-style: solid none;
  height: 25px;
}

body.dark-mode .headfoot {
  color: #F7F3E3;
  border: 1px solid #F7F3E3;
}

.hover-info {
  width: 100%; /* Adjust for sidebars */
  height: 25px;
  /* display: flex; */
  overflow: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
}

.hover-info.top {
  top: 0;
  
}

.hover-info.bottom {
  bottom: 0;
}

.hover-info.top .hover-info-content {
  /* white-space: nowrap;
  overflow: hidden;*/
  display: inline-block;
  animation: marquee-right 10s linear infinite;
  padding-right: 100%;
  height: 100%;
}

.hover-info.bottom .hover-info-content {
   /* white-space: nowrap;
  overflow: hidden;*/
  display: inline-block;
  animation: marquee-left 10s linear infinite;
  padding-right: 100%;
  height: 100%;
}

.hover-info-content-2 {
  animation-delay: 5s;
}

.hover-info-item {
  display: inline-block;
  margin-right: 1rem;
}

.separator {
  margin-left: 1rem;
}

@keyframes marquee-right {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes marquee-left {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Hide the default cursor */
body {
  cursor: none;
}

/* Base styles for the custom cursor */


.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--cursor-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, border 0.3s ease, opacity 0.3s ease;
}

.cursor-pulse {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: var(--cursor-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  animation: pulse 1.5s infinite;
  transition: width 0.3s ease, height 0.3s ease, border 0.3s ease, opacity 0.3s ease;
}

@media only screen and (max-device-width: 768px) {

  .cursor,.cursor-pulse {
    display: none;
  }
}




/* Animation for pulsing effect */
@keyframes pulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

/* Light and dark mode cursor colors */
body.light-mode {
  --cursor-color: #2E242A;
  --cursor-color2: #F7F3E3;
}

body.dark-mode {
  --cursor-color: #F7F3E3;
  --cursor-color2: #2E242A;
}

/* Hide the cursor on specific elements */
a, button {
  cursor: none;
}

/* Hover effect on clickable elements */
.hovering .cursor-pulse {
  width: 45px;
  height: 45px;
  animation: none;
  border: 2px solid var(--cursor-color);
  opacity: 0.8;
}

.hovering .cursor {
  background-color: var(--cursor-color2);
}





/* Spinner styles */
.loading-spinner {
  background-color: rgba(0, 0, 0, 0.5);
}

.spinner-border {
  border-top-color: transparent;
  border-right-color: var(--cursor-color);
  border-bottom-color: var(--cursor-color);
  border-left-color: var(--cursor-color2);
}